@import '../../../../../../components/variables';
.left-banner-1 {

    width: 100%;
    height: 49.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .left-banners-h3 {
        color: $third-color;
        text-align: center;
        font-weight: 400;
        font-size: 35px;
    }



    .left-banners-img {
        position: absolute;
        z-index: -1;
        border-radius: 30px;
        height: 100%;
        width: 100%;
    }

}
.left-banner-2-2 {
    height: 100%;
    width: 49%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .left-banners-img {
        position: absolute;
        border-radius: 30px;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .left-banners-h3 {
        color: $third-color;
        text-align: center;
        font-size: 35px;
        font-weight: 400;
    }



}

.left-banner-2-1 {
    height: 100%;
    width: 49%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .left-banners-img {
        border-radius: 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

    }

    .left-banners-h3 {
        color: $third-color;
        text-align: center;
        font-weight: 400;
        font-size: 35px;
    }


}