

.main-products{
 display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;

  //  border: solid 1px #000;
}

.all-products{
  width: 75%;}
  .none-main-products{
    display: none !important;
  }