@media only screen and (max-width:376px){
    .right-banner{
        width: 100%;
        height: 350px;
        .right-banners-img{
            width: 80%;
            height: 80%;
            
            bottom: 50px;
        }
    }
}