@media only screen and(max-width:376px){
    .mainpage-banner2{
        height: 200px;
        margin: 0;
        margin-bottom: 80px;
        
        .total-div{

            font-size: 15px;

        }
    }
}