$primary-color: #000;
$button-color: #00a651;
$third-color: #fff;
$cream-color: #ebebeb;
$greenbuttoncolor: #00a651;
$white: white;
$header-text-color: #464646;
$border-color: rgba(#000, .25);
$forpopup: rgba(0, 0, 0, .5);
$black : black;
$lightseagreen : lightseagreen;
$gray : gray;