$primary-color: #000;
$button-color: #00a651;
$third-color: #fff;
$cream-color: #ebebeb;
$white: #fff;
$header-text-color: #464646;
$border-color: rgba(#000, .25);
$black : black;
$greenbuttoncolor : green;
$red:red;