$border-color:#50525436;
$card-bg-color:#50525436;
.bestsellers{
    width: 80%;
    margin: auto;
    padding: 40px 0;
    .header{
        font-size: 32px;
    }
    .carousel{
        display: flex;
        padding: 40px 0px;
        .carousel-card{
            display: flex;
            flex-direction: column;
            width: 242px;
            border-radius: 20px;
            border: 1px solid $border-color;
            .img{
                background: $card-bg-color;
                width: 240px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
             
                img{
                    width: 90%;
                }
            }
            .desc{
                padding: 20px;
                .price-product::after{
                    content: ' ₼';
                }
            }
      
        }
    }
}
.card{
    border-radius: .25rem;
}
.carousel-container{
    padding-left: 9%;
}
