@import '../variables';

.product-single-card,
.product-single-card1 {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid $cream-color;
  border-radius: 25px;
  transition: 2s;
  width: 200px;
  height: 250px;

  .card-item-img {
    height: 150px;
    background-color: $cream-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    .card-image {
      width: 140px;
      height: 100%;
    }
  }

  .card-item-context {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $cream-color;
    height: 100px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;


    .card-item-text-part {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;

      .card-item-title {
        color: $primary-color;
        font-weight: 700;
        font-size: 20px;
      }

      .card-item-price {
        font-weight: 500;
        color: $button-color;
        font-size: 19px;
      }
    }

    .card-item-icon-main {
      width: 100%;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: 2s;
      padding-right: 15px;
      padding-bottom: 10px;

      .card-button {
        border: 1px solid $button-color;
        cursor: pointer;
        width: 80px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s ease-out;
        font-size: 12px;
        color: $button-color;
        background-color: $third-color;
        border-radius: 5px;
    }  
    }
    }

    &:hover {

      .card-button {

        &:hover {         
          background-color: $button-color !important;
          color: $third-color !important;
        }
      }
    }
  }


.pagination {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 1.2rem;
  gap: 15px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  transition: 1.2s;
}

.pagination .page-num:hover {
  background-color: $button-color;
  color: $third-color;
}

.pagination .active {
  background-color: $button-color;
}